<h2>Filter</h2>
  <h3>Availability</h3>
  <div class="checkbox-list">
    <label><input (change)="onNotAvailable($event)" type="checkbox" /> Not Available (3)</label>
    <label><input (change)="onInStuck($event)" type="checkbox" /> In Stock (26)</label>
  </div>

  <h3>Price</h3>
  <p>
    <label for="amount">Range:</label>
    <input
      type="text"
      id="amount"
      style="border: 0; color: #f6931f; font-weight: bold"
      disabled
      #priceRange
    />
  </p>
  <div       (click)="filterPrice()"
  id="slider-range"></div>
