<!-- BEGIN CONTENT -->
<div class="col-md-9 col-sm-7">
    <div class="row list-view-sorting clearfix">
      <div class="col-md-2 col-sm-2 list-view">
        <a href="javascript:;"><i class="fa fa-th-large"></i></a>
        <a href="javascript:;"><i class="fa fa-th-list"></i></a>
      </div>
      <div class="col-md-10 col-sm-10">
        <div class="pull-right">
          <label class="control-label">Show:</label>
          <select class="form-control input-sm" (change)="onTakeFilters($event)">
            <option value="2">2</option>
            <option value="5">5</option>
            <option value="10" selected="selected">10</option>
            <option value="20">20</option>
          </select>
        </div>
        <div class="pull-right">
          <label class="control-label">Sort&nbsp;By:</label>
          <select class="form-control input-sm" (change)="onDropdownFilters($event)">
            <option value="name,ASC">Name (A - Z)</option>
            <option value="name,DESC">Name (Z - A)</option>
            <option value="price,ASC">Price (Low &gt; High)</option>
            <option value="price,DESC">Price (High &gt; Low)</option>
            <option value="rate,DESC" selected="selected">
              Rating (Highest)
            </option>
            <option value="rate,ASC">Rating (Lowest)</option>
            <!-- <option value="model,ASC">Model (A - Z)</option>
            <option value="model,DESC">Model (Z - A)</option> -->
          </select>
        </div>
      </div>
    </div>


<div class="row product-list" style="height: 1000px;">
    <h2 *ngIf="products.length == 0">No Items Found!</h2>
    <app-product-item *ngFor="let product of products" [item]="product"></app-product-item>
</div>


<!-- <paginator [length]="products.length"></paginator> -->


<!-- BEGIN PAGINATOR -->
<div class="row">
  <!-- <div class="col-md-4 col-sm-4 items-info">Items 1 to 9 of {{products.length}} total</div> -->
  <div class="col-md-8 col-sm-8">
    <ul class="pagination pull-right">
      <li><a (click)="onPageArrows(-1)">&laquo;</a></li>

      <li><a (click)="onPaginator('0')">1</a></li>
      <li><a (click)="onPaginator('1')">2</a></li>
      <li><a (click)="onPaginator('3')">3</a></li>
      <li><a (click)="onPaginator('4')">4</a></li>
      <li><a (click)="onPaginator('5')">5</a></li>

      <li><a (click)="onPageArrows(1)">&raquo;</a></li>
    </ul>
  </div>
</div>
<!-- END PAGINATOR -->
</div>
