<div class="color-panel hidden-sm">
  <app-style-customization></app-style-customization>
</div>

<app-header></app-header>

<div class="title-wrapper">
  <div class="container">
    <div class="container-inner">
      <h1><span>MEN</span> CATEGORY</h1>
      <em>Over 4000 Items are available here</em>
    </div>
  </div>
</div>

<div class="main">
  <div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="row margin-bottom-40">
        <app-products-view></app-products-view>
    </div>
  </div>
</div>

<div class="brands">
  <div class="container">
    <app-brands></app-brands>
  </div>
</div>

<div class="steps-block steps-block-red">
  <div class="container">
    <app-steps></app-steps>
  </div>
</div>

<app-footer></app-footer>
