
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="product-item">
        <div class="pi-img-wrapper">
            <img src="https://via.placeholder.com/600x800" class="img-responsive" alt="Berry Lace Dress" />
            <div>
                <!-- <a href="https://via.placeholder.com/600x800" class="btn btn-default fancybox-button">Zoom</a> -->
                <!-- <app-details-dialog></app-details-dialog> -->
                <a class="btn btn-default">
                  <app-details-dialog [itemData]="item"></app-details-dialog>
                </a>

            </div>
        </div>
        <h3>
            <a (click)="OnProductClick(item)">{{ item.name }}</a>
        </h3>
        <div class="pi-price">${{ item.price }}</div>
        <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
    </div>
</div>