
<ul class="list-group margin-bottom-25 sidebar-menu">
  <li *ngFor="let category of categories" class="list-group-item clearfix dropdown active">
    <a class="collapsed" (click)="fetchCategory(category.id, $event)">
      <i class="fa fa-angle-right"></i>
      {{category.name}}
    </a>
    <ul class="dropdown-menu" style="display:none;">
      <li *ngFor="let child of category.children"><a (click)="fetchCategory(child.id, $event)">
        <i class="fa fa-angle-right"></i>
        {{child.name}}
      </a>
      </li>
    </ul>
  </li>
</ul>


<!-- <ul class="dropdown-menu" style="display:block;">
  <li> <a *ngFor="let child2 of child1.children" class="collapsed" (click)="fetchCategory(child2.id)"><i class="fa fa-angle-right"></i>{{child2.name}} </a></li>
</ul> -->