
<!-- Building the side-tree -->
<ul class="list-group margin-bottom-25 sidebar-menu">

  <li *ngFor="let category of categories"
   class="list-group-item clearfix dropdown">
    <a (click)="fetchCategory(category.name)">
      <i
        [ngStyle]="{'opacity': category.children?.length > 0 ? '1' : '0'}"
        class="fa fa-angle-right">
      </i>
      {{ category.name }}
    </a>

    <!-- Level 1 -->
    <ng-container *ngIf="category.children">
      <!-- <ul class="dropdown-menu"> -->
      <ul class="dropdown-menu" style="display: block">
        <li *ngFor="let children1 of category.children"
          class="list-group-item clearfix dropdown">
          <!-- <a (click)="fetchCategory(children1.name)"> -->
          <a (click)="fetchCategory(children1.name)" class="collapsed">
            <i
              [ngStyle]="{'opacity': children1.children?.length > 0 ? '1' : '0'}"
              class="fa fa-angle-right">
            </i>
            {{ children1.name }}
          </a>

          <!-- Level 2 -->
          <ng-container *ngIf="children1.children">
            <!-- <ul class="dropdown-menu"> -->
            <ul class="dropdown-menu" style="display: block">
              <li
                *ngFor="let productName of children1.children"
                class="list-group-item clearfix">
                <!-- <a (click)="fetchCategory(productName + '')"> -->
                <a (click)="fetchCategory(productName + '')"  class="collapsed">
                  <i
                    style="opacity: 0;"
                    class="fa fa-angle-right">
                  </i>
                  {{ productName }}
                </a>
              </li>
            </ul>
          </ng-container>
        </li>
      </ul>
    </ng-container>
  </li>
</ul>
